# Soccer Example

First, we import pandas and dataflow notebooks automatically recognizes that it needs to be used in the output for future reference. The same happens on the last line of a cell as seen when we read our file into our df variable. This cell automatically generates an ID.

In [285220287]:
import pandas as pd
df = pd.read_csv("datasets/fifa17-top20-women-fixed.txt",sep="-",header=None)

                         0          1   2
0          Caroline Seger     Sweden   85
1           Wendie Renard     France   85
2          Steph Houghton    England   85
3          Sophie Schmidt     Canada   85
4             Erin McLeod     Canada   85
5                  Rosana     Brazil   85
6               Cristiane     Brazil   85
7          Julie Johnston        USA   86
8             Tobin Heath        USA   86
9             Alex Morgan        USA   86
10          Nilla Fischer     Sweden   86
11     Dzsenifer Marozsan    Germany   86
12         Alexandra Popp    Germany   86
13       Becky Sauerbrunn        USA   87
14  Ada Stolsmo Hegerberg     Norway   88
15         Amandine Henry     France   88
16     Christine Sinclair     Canada   89
17                  Marta     Brazil   89
18          Megan Rapinoe        USA   91
19            Carli Lloyd        USA   92

In [ ]:
df = df.rename(columns={0: "Name", 1: "Country", 2: "Rating"})

Once the above cell is ran, dataflow will autofill the $ to the most recent df. In this case it will be the original df.

[Next Page](2.ipynb#Part-2)