# Soccer Example

## Part 1

First, we import pandas and dataflow notebooks automatically recognizes that it needs to be used in the output for future reference. The same happens on the last line of a cell as seen when we read our file into our df variable. This cell automatically generates an ID.

In [285220287]:
import pandas as pd
df = pd.read_csv("datasets/fifa17-top20-women-fixed.txt",sep="-",header=None)

                         0          1   2
0          Caroline Seger     Sweden   85
1           Wendie Renard     France   85
2          Steph Houghton    England   85
3          Sophie Schmidt     Canada   85
4             Erin McLeod     Canada   85
5                  Rosana     Brazil   85
6               Cristiane     Brazil   85
7          Julie Johnston        USA   86
8             Tobin Heath        USA   86
9             Alex Morgan        USA   86
10          Nilla Fischer     Sweden   86
11     Dzsenifer Marozsan    Germany   86
12         Alexandra Popp    Germany   86
13       Becky Sauerbrunn        USA   87
14  Ada Stolsmo Hegerberg     Norway   88
15         Amandine Henry     France   88
16     Christine Sinclair     Canada   89
17                  Marta     Brazil   89
18          Megan Rapinoe        USA   91
19            Carli Lloyd        USA   92

We now use the same variable name from above when renaming our columns. In a normal notebook we would lose our previous df, but because this is a Dataflow Notebook we can still access our original dataframe through the `df$[id]` syntax. We also tag this cell for easy reference in the future by calling `df$renamed`

In [3442104796]:
df = df$11001dbf.rename(columns={0: "Name", 1: "Country", 2: "Rating"})

                      Name    Country  Rating
0          Caroline Seger     Sweden       85
1           Wendie Renard     France       85
2          Steph Houghton    England       85
3          Sophie Schmidt     Canada       85
4             Erin McLeod     Canada       85
5                  Rosana     Brazil       85
6               Cristiane     Brazil       85
7          Julie Johnston        USA       86
8             Tobin Heath        USA       86
9             Alex Morgan        USA       86
10          Nilla Fischer     Sweden       86
11     Dzsenifer Marozsan    Germany       86
12         Alexandra Popp    Germany       86
13       Becky Sauerbrunn        USA       87
14  Ada Stolsmo Hegerberg     Norway       88
15         Amandine Henry     France       88
16     Christine Sinclair     Canada       89
17                  Marta     Brazil       89
18          Megan Rapinoe        USA       91
19            Carli Lloyd        USA       92

## Part 2
<a id='part2'></a>

Here you can see a variable being called with its tag.

In [2095595770]:
countries = df$renamed.groupby("Country").count()

          Name  Rating
Country
Brazil       3       3
Canada       3       3
England      1       1
France       2       2
Germany      2       2
Norway       1       1
Sweden       2       2
USA          6       6

Countries have errors in their names. We use the next few cells to identify and fix that and use the df variable name and tag a new cell again.

In [3876931663]:
df$renamed[df$renamed["Country"] == "USA"]

Empty DataFrame
Columns: [Name, Country, Rating]
Index: []

In [4153136171]:
df = df$renamed.assign(Name=df$renamed["Name"].str.strip(), 
                 Country=df$renamed["Country"].str.strip())

                     Name  Country  Rating
0          Caroline Seger   Sweden      85
1           Wendie Renard   France      85
2          Steph Houghton  England      85
3          Sophie Schmidt   Canada      85
4             Erin McLeod   Canada      85
5                  Rosana   Brazil      85
6               Cristiane   Brazil      85
7          Julie Johnston      USA      86
8             Tobin Heath      USA      86
9             Alex Morgan      USA      86
10          Nilla Fischer   Sweden      86
11     Dzsenifer Marozsan  Germany      86
12         Alexandra Popp  Germany      86
13       Becky Sauerbrunn      USA      87
14  Ada Stolsmo Hegerberg   Norway      88
15         Amandine Henry   France      88
16     Christine Sinclair   Canada      89
17                  Marta   Brazil      89
18          Megan Rapinoe      USA      91
19            Carli Lloyd      USA      92

[Previous Page](1.ipynb)

[Next Page](3.ipynb#Part-3)